* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
body{
    background:#F8FAE5;
}
header {
    
    background-color: #720455;
   
    width: 980px;
    height: 100px;
}
header img{
    padding:15px;
    width:65px;
    height:65px;
}
.container{
    width:980px;
    margin:0 auto;
}
nav{
    height:35px;
    background:#272f54;
    margin-bottom: 5px;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float:left;
    line-height:35px;
    padding:0 15px;

}
nav .menu ul li a{
    color:#fff;
    font-size:12px;
    text-decoration: none;
}
nav .search{
    line-height: 35px;
    float:right;
    margin-right: 25px;
}
.slide a img {
    width:980px;
    height:200px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}                             
.product{
    padding:20px;
    text-align: center;
}
.product img{
    width: 250px;
    height:150px;
    border-radius: 5px;

}
.product h3{
    margin:10px;

}
footer{
    border-color: #222;
    color:aliceblue;
    text-align: center;
    padding:5px 0 5px 0;
}
article h3{
    text-align: center;
    color:#720455;
}
section img{
    text-align: center;
    width:500px;
    height:370px;
    border-radius: 5px;
}
section h5{
    text-align: center;
}
article img{
    text-align: center;
    width:500px;
    height:400px;
    border-radius: 5px;
}


